/bin
/obj
.vs/OrderPurchase.WebApi/FileContentIndex/68e88e41-8bf9-4872-841c-48525559198b.vsidx
.vs/OrderPurchase.WebApi/FileContentIndex/read.lock
.vs/OrderPurchase.WebApi/v17/.futdcache.v1
.vs/OrderPurchase.WebApi/v17/.suo
.vs/OrderPurchase.WebApi/DesignTimeBuild/.dtbcache.v2
.vs/OrderPurchase.WebApi/config/applicationhost.config
.vs/ProjectEvaluation/OrderPurchase.webapi.metadata.v2
.vs/ProjectEvaluation/OrderPurchase.webapi.projects.v2
.vs/OrderPurchase.WebApi/FileContentIndex/d22ec572-894f-4b1e-939f-6e7852b5d449.vsidx
.vs/OrderPurchase.WebApi/DesignTimeBuild/.dtbcache.v2
.vs/OrderPurchase.WebApi/FileContentIndex/95b5aec4-8cfb-406b-ba19-7042ab8e4e6e.vsidx
.vs/OrderPurchase.WebApi/FileContentIndex/d22ec572-894f-4b1e-939f-6e7852b5d449.vsidx
.vs/OrderPurchase.WebApi/v17/.suo
*.vsidx
*.v2
.vs/OrderPurchase.WebApi/DesignTimeBuild/.dtbcache.v2
